<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>
      <br>
      <ion-searchbar class="search" mode="ios"  placeholder="Buscar Direccion"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >    
<ion-card color="translucent">
  <ion-img  src="assets/icon/icono_3.png"></ion-img>

          <div #map id="map">
            <!--API DE GOOGLE MAP-->
          </div>

          <ion-grid >
           <ion-row>
            <ion-col   >
              <ion-button  expand="block"><ion-icon slot="start" name="pin"></ion-icon>Buscar Estacionamiento</ion-button>
            </ion-col>
              <ion-col   >
                <ion-button expand="block"  [routerLink]="'/login'"><ion-icon slot="start" name="people-outline"></ion-icon>Usuarios</ion-button>
              </ion-col>
          
            </ion-row>
          </ion-grid>
        </ion-card>
</ion-content>


